.container
  .row
    .col-xs-12
      %h1
        Hello! This is homepage. 
      %p
        Use this formart (template_pageName) to make template in admin page.
        then you can select this template to make the page display the code as you write.
